{% extends "main/base.html" %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div> 
        <div class="image-about">
            <div class="image-text">                
                <h1 class="content-title" style="font-size:55px">Learn More About us!</h1>
                <p class="content-text">We believe in the joyous benefits of dance 
                    on your mind, body and soul</p>
            </div>
        </div>

        <div class="row" style="padding-top: 5%; margin: 2%;">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <img src="https://i.ibb.co/xgyMMpf/logo.png" width="300" height="275"> 
                    <h2 style="color: #d8861b;">Our Commitment</h2>
                </div>
                
                <p>
                    Ananta Dance Academy is committed to offering the very best in Adult, 
                    Kids and Teen dance class instruction in a warm and welcoming environment. 
                    We provide our students with a place and space to grow: 
                    uniquely, individually, expressively, technically, passionately and with excellence. 
                    We offer instruction in a diverse and extensive dance repertoire from Ballet to Hip Hop to 
                    Contemporary to Ballroom.
                    We are an accredited Ballroom Dance Academy, under the CDF, DVIDA and ISTD programs.
                </p>
                
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img src="https://i.ibb.co/8N8X6ZY/ad-21.jpg" alt="Ananta Dance Academy" width="100%" height="90%">
            </div>
            
            <div class="col-md-6">
                <h2 style="text-align: center; color: #d8861b;">
                    <br><br>Our Vision and Mission<br><br>
                </h2>
            </div>
            <div class="col-md-6">
                <p>
                    Our vision is dance, just dance. We want you to learn the therapeutic, life affirming and spirit 
                    enhancing benefits of dance. Just dance. When life gives you lemons, dance. When you want to just 
                    go home and cry, dance. When you are celebrating life’s miracles, dance. Dance wherever you are.
                    No electronics, no outside distractions, no boss, partner or family to take time away from you 
                    spending time with yourself. Everyone needs to dance to survive the world today. Let Joy of Dance 
                    be that home for you.
                </p>
            </div>
        </div>

        <div class="article-metadata" style="margin-left: 3%; margin-right: 3%;"></div>

        <h1 style="text-align: center; color: #d8861b;">Faculty</h1>
        <div class="row" style="padding: 3%;">
            <div class="col-md-4" style="text-align:center;">
                <img src="https://i.ibb.co/Z2bjX4B/Whats-App-Image-2020-06-06-at-8-13-27-PM-1.jpg" alt="Bhoomi's Picture" width="70%" height="80%" style="align-items: center;">
                <h2>Bhoomi Tripathi</h2>
                <p>Speciality</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <img src="https://i.ibb.co/X5YhYRw/Whats-App-Image-2020-06-06-at-8-13-27-PM.jpg" alt="Sanya's Picture" width="70%" height="80%">
                <h2 style="text-align: center;">Sanya Mehta</h2>
                <p style="text-align: center;">Speciality</p>
            </div>
        </div>
    </div>
{% endblock content %}