{% extends "main/base.html" %}
{% block title %}
    Blog
{% endblock title %}
{% block content %}
    <div style="padding-top: 15%;">

        <article class="media content-section container">
            <img class="rounded-circle article-img" src="https://i.ibb.co/xgyMMpf/logo.png" alt="Profile-Pic" width="40" height="40">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">
                        Bhoomi Tripathi
                    </a>
                    <small class="text-muted">
                        Sunday, June 14 , 2020
                    </small>
                </div>
                <h2 class="content-title">
                    COVID-19 (June Update)
                </h2>
                <p class="content-text">
                    Hello Everyone,
                    I trust you are doing well and keeping safe.<br><br>
                    We are going through an unusual time in our lives. With COVID-19 restrictions, we have a lot of things to take care of. 
                    I believe, at the same time, it is important to celebrate our achievements. 
                    One of the several things we have achieved, as a dance institute, is the successful completion of our first year of operation. 
                    So, kudos and thanks to all of you for making this happen.<br><br>
                    Last year has been a fantastic experience for me. I have loved working with all of you, and I hope you have enjoyed the classes as well.
                    My special thank you to the parents of our ‘Champions.’ We would not have achieved this without them.
                    As restrictions are slowly being lifted, we are also prepping to be back in the dance-rooms. However, we want to do it safely. 
                    Please stay tuned for the re-opening date.
                    As always, please contact me if you have any questions.<br><br>
                    Missing you too much!<br>
                    Keep Safe and Keep Dancing.
                </p>
            </div>
        </article>
    </div>

        <article class="media content-section container">
            <img class="rounded-circle article-img" src="https://i.ibb.co/xgyMMpf/logo.png" alt="Profile-Pic" width="40" height="40">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">
                        Bhoomi Tripathi
                    </a>
                    <small class="text-muted">
                        Sunday, March 15 , 2020
                    </small>
                </div>
                <h2 class="content-title">
                    COVID-19 
                </h2>
                <p class="content-text">
                    It saddens us to make this decision, but for the health and safety of our students, faculty, and staff, ANANTA DANCE ACADEMY 
                    is now closed from Monday, March 23 until further notice. All regularly scheduled drop-in classes, workshops, and special 
                    events are cancelled.<br><br>
                    Please rest assured that we will be extending class packages and will find creative ways to make up kids and teens 
                    classes during this uncertain time. We is closely monitoring provincial and federal guidelines concerning COVID-19,
                    also known as coronavirus. Our priority is to keep everyone in community healthy and safe by taking appropriate 
                    action and precautions. Your well-being is at the utmost importance to us, and we are committed to keeping our space 
                    as safe as possible.<br><br>
                    Please keep an eye for updates in response to COVID-19, we will be updating regularly. For any further questions, 
                    please contact us at info@anantadanceac.ca
                </p>
            </div>
        </article>
    </div>

{% endblock content %}



