{% extends "main/base.html" %}
{% block title %}
    Services
{% endblock title %}
{% block content %}

    <div class="image-services">
        <div class="image-text">
            <h1 class="content-title" style="font-size:55px">Our Services for all ages!</h1>
            <p class="content-text">Find out our offerings</p>
            
        </div>
    </div>

    <div style="padding-top: 15%;"></div>
    <article class="media content-section">
        <h1>Services!!</h1>
    </article>
{% endblock content %}