{% extends "main/base.html" %}
{% block title %}
    Videos
{% endblock title %}

{% block content %}

    <div class="image-services">
        <div class="image-text">
            <h1 class="content-title" style="font-size:55px">Checkout Our Best Performaces</h1>
            <p class="content-text">Find out our offerings</p>
            
        </div>
    </div>
    <div class="media-body" style="padding-left: 5%; padding-right: 5%;">
        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/zjoUY2_tn4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Radha Teri Chundri (4-6 years)</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/aJhEraM2HDs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Baki Sab First Class Hai (4-6 years)</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/gyLgWYHL63c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Simbba (4-6 years)</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/jyvkx_vh0B4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Pushpanjali Bharatnatyam Beginners</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/33ZV2ICV8dU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Bhangra Fusion - Lamberghini</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%;" class="row article-metadata">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/p2LN4XlXBsA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>A dance tribute to our soldiers- Terri Mitti</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>

        <div style="padding-top: 2%; padding-bottom: 2%;" class="row">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/kxzCE6D6Xbk"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>Ghar More Pardesiya</h4>
                <p>
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j
                    hr h gh fg hfg hfg dh d hj hfd j  fdj  y j ty j t yj t yj  ty j tey j ety j tye j

                </p>
            </div>
        </div>
    </div>

{% endblock content %}